(
    craftable: [
        CraftingRecipe (
            needed: {
                Stone: 1,
                Wood: 2,
            },
            preducts: Axe
        ),
        CraftingRecipe (
            needed: {
                Stone: 3,
            },
            preducts: Stones
        ),
        CraftingRecipe (
            needed: {
                Wood: 1,
            },
            preducts: Fire
        ),
    ]
)
