(
    map: {
        Item(Stone): (
            Rect (
                min: Vec2(128.0, 384.0),
                max: Vec2(160.0, 416.0),
            ), 
            Vec2(32.0, 32.0)
        ),
        Item(Axe): (
            Rect (
                min: Vec2(96.0, 160.0),
                max: Vec2(112.0, 176.0),
            ), 
            Vec2(32.0, 32.0)
        ),
        Item(Flower): (
            Rect (
                min: Vec2(160.0, 192.0),
                max: Vec2(176.0, 208.0),
            ), 
            Vec2(16.0, 16.0)
        ),
        Item(Wood): (
            Rect (
                min: Vec2(64.0, 240.0),
                max: Vec2(112.0, 288.0),
            ), 
            Vec2(32.0, 32.0)
        ),
        GrassWithFlower: (
            Rect (
                min: Vec2(32.0, 96.0),
                max: Vec2(64.0, 128.0),
            ), 
            Vec2(24.0, 24.0)
        ),
        Grass: (
            Rect (
                min: Vec2(0.0, 96.0),
                max: Vec2(32.0, 128.0),
            ), 
            Vec2(24.0, 24.0)
        ),
        Tree: (
            Rect (
                min: Vec2(0.0, 0.0),
                max: Vec2(64.0, 96.0),
            ), 
            Vec2(64.0, 96.0)
        ),
        Trunk: (
            Rect (
                min: Vec2(64.0, 144.0),
                max: Vec2(80.0, 160.0),
            ), 
            Vec2(16.0, 16.0)
        ),
        InventoryBox: (
            Rect (
                min: Vec2(0.0, 304.0),
                max: Vec2(32.0, 336.0),
            ), 
            Vec2(48.0, 48.0)
        ),
    }
)
